# .gitconfig
[core]
	excludesfile = /Users/evanmarshall/.gitignore_global
	autocrlf = false # For windows to work with Uniz systems.
	editor = code # Editor to edit commit messages. Code might not work.
[init]
	defaultBranch = main
[user]
	name = evanmarshall-dev
	email = me@evanmarshall.dev
[commit]
	verbose = true
[diff]
	algorithm = histogram
[url "git@dgit.com:"]
	insteadOf = "https://github.com/" # If you need to unlock your SSH key because of this then change insteadOf to pushInsteadOf.
[credential]
	helper = osxkeychain # Use Mac keychain for managing credentials.
[gpg]
	format = ssh # To sign commits with SSH keys (Might want to disable if this exposes keys).
[branch]
	sort = -committerdate
[merge]
	conflictstyle = zdiff3
