# .gitconfig
[core]
	excludesfile = /Users/evanmarshall/.gitignore_global
	autocrlf = input
[color]
	ui = auto
[init]
	defaultBranch = main
[user]
	name = evanmarshall-dev
	email = me@evanmarshall.dev
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[pull]
	rebase = false
[credential "https://github.com"]
	helper =
	helper = !/usr/local/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/usr/local/bin/gh auth git-credential
